<img src="/static/images/BG_login.jpg" class="bg-login" alt="PS" />
<div class="bg-login"></div>
<div class="container">
  <div id="loginbox" class="mainbox col-lg-4 col-sm-8 col-xs-10">
    <div id="flashes"></div>
    <img src="/static/images/icon_logo_PSL.png" class="center-block login-logo" alt="PS" />

    <div class="panel">
      <div class="panel-heading">
        <div class="alert alert-error" style="display:none;">
          <div class="panel-title">Entry</div>
        </div>
        <div class="panel-body">
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <form role="form" id="newpasswordform">
            <label style="white-space: normal;">Nueva Contraseña / New Password</label>
            <div class="form-group">
              <input id="password" type="password" class="form-control" name="password">
            </div>
            <label style="white-space: normal;">Confirmar Nueva Contraseña / Confirm New Password</label>
            <div class="form-group">
              <input id="repeatPassword" type="password" class="form-control" name="password">
            </div>

            <div class="has-spinner">
              <button id="btn-login" class="btn login" style="white-space: normal; width:100%;">CAMBIAR CONTRASEÑA / RESET PASSWORD</button>
            </div>
          </form>
        </div>
        <a id="back-login" href='/login.html'>
           <div class="pull-right link-email recovery" style="margin-right: 16px;">Volver al inicio de sesión / Back to Login</div>
        </a>​
      </div>
    </div>
  </div>
</div>
